/* Desktop first */

/*1095px*/
@media (max-width: 70rem) {
  .hero-title {
    font-size: 3.3rem;
  }
}

/* 955px */
@media (max-width: 59.6rem) {
  html {
    font-size: 75%;
  }

  .hero-title {
    font-size: 4rem;
  }

  .container {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .features,
  footer {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .logo-img {
    width: 220px;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .feature-block {
    grid-template-columns: 1fr;
    height: auto;
    padding: 5rem 3rem;
    text-align: center;
    gap: 3rem;
  }
  .feature-img-box {
    order: -1;
    justify-content: center;
  }

  .feature-img {
    width: 75%;
  }

  .cta {
    width: 90%;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  .footer-logo {
    width: 115px;
  }

  .footer-links-container {
    flex-direction: column;
    justify-content: stretch;
    gap: 2rem;
  }

  .socials {
    justify-content: center;
    font-size: 3rem;
  }

  .copy {
    grid-area: 4/1;
    justify-self: center;
    align-self: start;
    margin-top: 0;
    transform: translateY(-15px);
    font-size: 1.5rem;
  }
}

/* 768 pixels */
/* @media (max-width: 48em) {
  html {
    font-size: 75%;
  }
} */

/* 640px */
@media (max-width: 40em) {
  html {
    font-size: 60%;
  }

  .logo-img {
    width: 150px;
  }
}

/* 500px */
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }

  .logo-img {
    width: 115px;
  }
}

/* 420px */
@media (max-width: 26.25em) {
  .hero-container {
    background-image: url(../images/bg-hero-mobile.svg);
  }

  html {
    font-size: 42.5%;
  }

  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .features,
  footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
